@import "tailwindcss";

:root {
  --lucuma-light: #FAD689;  /* amarillo suave */
  --lucuma: #E8A534;        /* color lúcuma principal */
  --lucuma-dark: #C87F1D;   /* marrón anaranjado */
}
:root {
  --font-geist-sans: 'Geist Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-geist-mono: 'Geist Mono', Menlo, Monaco, 'Courier New', monospace;
}  
.bg-lucuma-dark {
  background-color: var(--lucuma-dark);
}

/*@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #C87F1D;
    --foreground: #FAD689;
  }
}*/
